@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";

$main-color: #d31242;
$barcode-width: 143px;
$barcode-height: 50px; 

.app {
  max-width: 600px;
  margin: 5rem auto;
  border: 1px solid var(--gray);
  border-radius: 4px;
}
svg {
  margin-right: 0.8rem;
  &.delete-coupon {
    margin-right: 0;
  }
  cursor: pointer;
  path:hover {
    fill: $gray-600;
  }
  &#whatsapp {
    fill: rgb(17 170 10);
  }
}
#whatsappLink {
  &:hover {
    text-decoration: none;
  }
}
body {
  background-color: var(--light);
}
.modal-body {
  font-size: 0.8rem;
}
.navbar-light .navbar-brand {
  color: $main-color;
}
.nav-item {
  background: var(--white) !important;
}
.bg-light {
  background: var(--white) !important;
}
nav {
  background: white;
  border-radius: 4px 4px 0px 0;
  border-bottom: 1px solid $main-color;
}

#myTabContent {
  min-height: 300px;
  background: var(--white);
}
textarea {
  text-align: right;
  width: 100%;
  height: 150px;
  resize: none;
  color: $blue;
  font-size: 0.8rem;
  padding: 10px;
}
#myTab {
  background: white;
}
ul {
  padding: 0;
  background: white;
  &.nav-tabs {
    background: white;
  }
}
.col {
  text-align: right;
}
p {
  text-align: right;
}
.barcode {
  font-family: monospace;
  .c-id {
    text-align: center;
  }
  width: fit-content;
  margin: 9rem auto;
  
  img {
    height: $barcode-height * 2;
    width: $barcode-width * 2;
    display: block;
    image-rendering: pixelated;
    margin: 1rem auto;
  }
}
.coupon-id {
  color: $main-color;
  font-size: 1rem;
}
#cAlert {
  display: none;
}
#printTab {
  p {
    text-align: center;
  }
}

.check-coupon {
  position: absolute;
  left: 20px;
  top: 0;
  height: 100%;
}

.delete-coupon {
  position: absolute;
  right: 20px;
  height: 100%;
  top: 0;
}
#myCouponsList {
  li {
    &.used {
      background: $gray-100;
      a {
        text-decoration: line-through;
      }
    }
  }
}
@media print {
  #myTab {
    display: none;
  }
  #printButton {
    display: none;
  }
  #exportButton {
    display: none;
  }
  .barcode {
    margin-bottom: 3.4rem;
    img {
      height: 150px;
      width: 336px;
    }
  }
  body {
    background-color: var(--white);
  }
  .app {
    border: none;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: var(--white);
  }
  .app {
    border: none;
    margin: 0;
  }
}
